<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>HaggleHaus</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/0599685da4.js"
      crossorigin="anonymous"
    ></script>
    <!-- Latest compiled and minified CSS & JS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Marcellus+SC&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-expand-lg navbar-light" role="navigation">
        <a class="navbar-brand" href="/">
          <img src="/img/favicon.png" alt="Haggle Haus" class="navbar-logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#HaggleHausNavbar"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="HaggleHausNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/" method="GET" class="nav-link" id="home">Home </a>
            </li>
            <li>
              <a href="/users" method="GET" class="nav-link" id="userProfile">Profile</a>
            </li>
            <li>
              <a href="/about" method="GET" class="nav-link" id="about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a href="/logout" method="GET" class="nav-link" >Log out</a>
            </li>
            <li>
              <a href="/register" method="GET" class="nav-link" >Sign Up</a>
            </li>
            <li>
              <a href="/login" method="GET" class="nav-link" >Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row jumbotron">
        <h2>About the Haus</h2>
        <hr class="w-100" />
        <p class="about-me-text">
          Haggle Haus is a marketplace platform which facilitates bartering
          items between users.
        </p>
        <p class="about-me-text">
          Rather than having to purchase items with money, visitors are
          encouraged to hawk their excess in exchange for other items. For
          instance, perhaps you have found yourself in possession of a surplus
          of toilet paper. Fear not! At the Haggle Haus, you can trade what you
          don't need for cleaning supplies, food, clothing, or anything else you
          fancy!
        </p>

        <p class="about-me-text">
          Starting it as easy as signing up and going to our home page to search
          through the goods! You can also post your own items, with a suggested
          trade if you are looking to get something in particular for your item.
        </p>
      </div>
    </div>
    <footer>
      <div class="links">
        <a href="#" target="blank" class="contact-link">
          <i
            class="fab fa-facebook-square fa-2x mt-2"
            title="Connect via Facebook"
          ></i>
          Facebook
        </a>
        <a href="#" target="blank" class="contact-link">
          <i class="fab fa-instagram fa-2x" title="Connect via Instagram"></i>
          Instagram
        </a>
        <a href="mailto:email@email.com?Subject=Hello" class="contact-link">
          <i
            class="fas fa-envelope-open-text fa-2x"
            title="Connect via Email"
          ></i>
          email@email.com
        </a>
      </div>
      HaggleHaus &copy;
    </footer>
    <script src="/js/about.js" type="text/javascript"></script>
  </body>
</html>
